<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@picocss/pico@2/css/pico.min.css">

    <HeadOutlet />
</head>
<body>
    <main class="container">
        <Routes />
    </main>
    <script src="_framework/blazor.web.js"></script>
</body>
</html>